@{
    ViewData["Title"] = "Bienvenido";
}

<link href="~/css/principal.css" rel="stylesheet" />
<div class="text-center">
    <h4>Bienvenido al sistema de control de pedidos</h4>
</div>
<br>

<p class="text-center">Somos la mejor opción para la gestion de tus pedidos</p>
<br />

<div class="container" id="principal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Servicios</h4>
                <ul>
                    <li>Registro de tus repartidores</li>
                    <li>Registro de tus ciudades de alcance</li>
                    <li>Programacion de pedidos</li>
                    <li>Seguimiento y control de tus pedidos</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h4>Empieza ya!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis varius libero, et ultricies ex malesuada in. Nam porta malesuada pretium. In hac habitasse platea dictumst. Nunc ac velit auctor, ultricies elit quis, fermentum diam. Suspendisse potenti. Sed vulputate, ex eget elementum porta, enim sapien interdum augue, non sagittis nisl justo ut ante. Etiam augue odio, ullamcorper eu gravida et, vulputate nec mi. Donec purus justo, tincidunt iaculis scelerisque quis, facilisis hendrerit lorem. Vivamus sit amet ornare enim. Vivamus ex magna, consectetur ac consequat vel, pharetra at mi. Cras at justo in nisl sodales pulvinar. Mauris ultricies placerat eleifend.</p>
            </div>
            <div class="text-center">
                <a href="../Identity/Account/Register" class="text-center">Generar una cuenta</a>
            </div>
        </div>
    </div>
</div>


                                                                               