@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Todos la informacion proporcionada no se venderá, distribuirá ni arrendará a personas externas. Esta información solo se usará para utilizar nuestros servicios internos</p>
